.footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    font-size: 50px;
    font-weight: 600;
    color: black;
}

.footer-content{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    cursor: pointer;
}

.footer-social-logo-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

hr{
    width: 100vh;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    border:  none;
}