.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    flex-flow: column;
    align-items: center;
}


.nav-logo p {
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.nav-menu{
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: black;
    gap: 15px;
    align-items: center;
    padding-left: 0px;
}


.nav-menu li {  
    cursor: pointer;
}

.nav-menu hr{
    width: 80%;
    height: 5px;
    border: 0;
    background-color: red;
}


.nav-login-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-login-cart button{
    outline: none;
    border: 1px solid black;
    width: 75px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 75px;
    cursor: pointer;
}

.nav-login-cart button:active{
    background-color: grey;
}

.nav-login-cart img{
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-cart-count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-top: -30px;
    margin-left: -30px;
    background-color: red;
    color: white;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 500;

}

Link {
    text-decoration: none;
}